<div style="margin-top: 150px"></div>
<div class="row  my-5">
    <div class="col-12 d-flex justify-content-between">
        <div>
            <h4>project type</h4>
        </div>
        <div>
            <button class="btn btn-outline-secondary" style="border-radius: 20px">viwe all project</button>
        </div>
    </div>
    <div class="row no-gutters ">
        <div class="col-md-6 img-hover-zoom">
            <div class="animated fadeInUp">
                <img src="../../assets/img/share-section1.jpg" class="   " alt="">
                <div class="bottom-left">some containt</div>
            </div>

        </div>
        <div class="col-md-6">
            <img src="../../assets/img/explore-section1.jpg" class=" animated fadeInUp fluid " alt="">
        </div>

    </div>
    <div class="row no-gutters ">
        <div class="col-md-6">
            <img src="../../assets/img/share-section1.jpg" class=" animated fadeInUp fluid " alt="">

        </div>
        <div class="col-md-6 ">
            <img src="../../assets/img/explore-section1.jpg" class=" animated fadeInUp fluid " alt="">
        </div>

    </div>
    <div class="row no-gutters ">
        <div class="col-md-6 ">
            <img src="../../assets/img/share-section1.jpg" class=" animated fadeInUp fluid " alt="">

        </div>
        <div class="col-md-6 ">
            <img src="../../assets/img/explore-section1.jpg" class=" animated fadeInUp fluid " alt="">
        </div>

    </div>
    <div class="row no-gutters ">
        <div class="col-md-6">
            <img src="../../assets/img/share-section1.jpg" class=" animated fadeInUp fluid " alt="">

        </div>
        <div class="col-md-6 ">
            <img src="../../assets/img/explore-section1.jpg" class=" animated fadeInUp fluid " alt="">
        </div>

    </div>
</div>