<nav class="navbar navbar-expand-sm  navbar-dark fixed-top ">
    <div class="row mx-4">
        <a class="navbar-brand display-4 mt-2 ">Foster+Partners</a>



        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse"
            (click)="isCollapsed = !isCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse" [ngbCollapse]="isCollapsed">
            <div class="searchBox " style="top:0px">

                <input class="searchInput" type="text" name="" placeholder="Search">
                <mat-icon class="mt-2">search</mat-icon>

            </div>
            <ul [ngClass]="{'first': true, 'second': true, 'third': false}" class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a href="#home" class="nav-link">Project</a>
                </li>
                <li class="nav-item">
                    <a href="#explore-head-section" class="nav-link">Studio</a>
                </li>
                <li class="nav-item">
                    <a href="#create-head-section" class="nav-link">Expertise</a>
                </li>
                <li class="nav-item">
                    <a href="#share-head-section" class="nav-link">News</a>
                </li>
                <li class="nav-item">
                    <a href="#share-head-section" class="nav-link">Careeers</a>
                </li>
                <li class="nav-item">
                    <a href="#share-head-section" class="nav-link">Contact </a>
                </li>
            </ul>
        </div>
    </div>

</nav>