<app-nav></app-nav>
<!-- <carousel class="home-section ">
    <slide>
        <img src="../assets/img/share-section1.jpg" alt="first slide" style="display: block; width: 100%;"
            class="bg-img">
        <div class="d-flex" style="position: absolute; width: 500px;">
            <div class="carousel-caption d-none d-md-block align-self-start">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </div>
    </slide>
    <slide>
        <img src="../assets/img/home.jpg" alt="second slide" class="  bg-img " style="display: block; width:
        100%;">
        <div class="carousel-caption d-none d-md-block">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
    </slide>
    <slide>
        <img src="../assets/img/share-section1.jpg" class="  bg-img" alt="third slide"
            style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
    </slide>
</carousel> -->
<app-projects></app-projects>